In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
data = sm.datasets.get_rdataset('dietox', 'geepack').data
md = smf.mixedlm("Weight ~ Time", data, groups=data["Pig"])
mdf = md.fit()
print(mdf.summary())

         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: Weight
No. Observations: 861     Method:             REML
No. Groups:       72      Scale:              11.3669
Min. group size:  11      Log-Likelihood:     -2404.7753
Max. group size:  12      Converged:          Yes
Mean group size:  12.0
--------------------------------------------------------
             Coef.  Std.Err.    z    P>|z| [0.025 0.975]
--------------------------------------------------------
Intercept    15.724    0.788  19.952 0.000 14.179 17.268
Time          6.943    0.033 207.939 0.000  6.877  7.008
Group Var    40.394    2.149
========================================================

In [3]:
data

      Pig     Evit     Cu  Litter     Start     Weight        Feed  Time
0    4601  Evit000  Cu000       1  26.50000   26.50000         NaN     1
1    4601  Evit000  Cu000       1  26.50000   27.59999    5.200005     2
2    4601  Evit000  Cu000       1  26.50000   36.50000   17.600000     3
3    4601  Evit000  Cu000       1  26.50000   40.29999   28.500000     4
4    4601  Evit000  Cu000       1  26.50000   49.09998   45.200001     5
5    4601  Evit000  Cu000       1  26.50000   55.39999   56.900002     6
6    4601  Evit000  Cu000       1  26.50000   59.59998   71.700005     7
7    4601  Evit000  Cu000       1  26.50000   67.00000   86.800001     8
8    4601  Evit000  Cu000       1  26.50000   76.59998  104.900002     9
9    4601  Evit000  Cu000       1  26.50000   86.50000  123.000000    10
10   4601  Evit000  Cu000       1  26.50000   91.59998  140.900002    11
11   4601  Evit000  Cu000       1  26.50000   98.59998  160.000000    12
12   4602  Evit000  Cu035       1  28.29999   28.29999         NaN     1
13   4602  Evit000  Cu035       1  28.29999   30.09999    3.300003     2
14   4602  Evit000  Cu035       1  28.29999   38.29999   13.200001     3
15   4602  Evit000  Cu035       1  28.29999   44.50000   26.100000     4
16   4602  Evit000  Cu035       1  28.29999   51.59998   43.600002     5
17   4602  Evit000  Cu035       1  28.29999   57.59998   55.200001     6
18   4602  Evit000  Cu035       1  28.29999   65.00000   72.800003     7
19   4602  Evit000  Cu035       1  28.29999   73.00000   90.800003     8
20   4602  Evit000  Cu035       1  28.29999   82.29999  112.200001     9
21   4602  Evit000  Cu035       1  28.29999   91.00000  132.900002    10
22   4602  Evit000  Cu035       1  28.29999   99.69995  156.100000    11
23   4602  Evit000  Cu035       1  28.29999  106.69995  180.000000    12
24   4603  Evit200  Cu175       1  27.59999   27.59999         NaN     1
25   4603  Evit200  Cu175       1  27.59999   30.59999    6.700005     2
26   4603  Evit200  Cu175       1  27.59999   38.69998   17.600000     3
27   4603  Evit200  Cu175       1  27.59999   47.19998   32.800003     4
28   4603  Evit200  Cu175       1  27.59999   54.09998   50.000000     5
29   4603  Evit200  Cu175       1  27.59999   61.50000   64.600002     6
..    ...      ...    ...     ...       ...        ...         ...   ...
831  8437  Evit100  Cu035      24  27.00000   63.00000   70.500000     7
832  8437  Evit100  Cu035      24  27.00000   75.50000   88.500000     8
833  8437  Evit100  Cu035      24  27.00000   77.79999  103.300003     9
834  8437  Evit100  Cu035      24  27.00000   85.79999  119.500000    10
835  8437  Evit100  Cu035      24  27.00000   95.00000  124.500000    11
836  8437  Evit100  Cu035      24  27.00000  101.39996  143.700000    12
837  8439  Evit200  Cu175      24  27.29999   27.29999         NaN     1
838  8439  Evit200  Cu175      24  27.29999   31.20000    8.800000     2
839  8439  Evit200  Cu175      24  27.29999   37.00000   20.000000     3
840  8439  Evit200  Cu175      24  27.29999   43.89999   33.200001     4
841  8439  Evit200  Cu175      24  27.29999   49.79999   44.800003     5
842  8439  Evit200  Cu175      24  27.29999   57.19998   58.000000     6
843  8439  Evit200  Cu175      24  27.29999   65.19995   74.600002     7
844  8439  Evit200  Cu175      24  27.29999   73.19995   94.900002     8
845  8439  Evit200  Cu175      24  27.29999   78.79999  108.800000     9
846  8439  Evit200  Cu175      24  27.29999   87.39996  128.000000    10
847  8439  Evit200  Cu175      24  27.29999   95.00000  149.000000    11
848  8439  Evit200  Cu175      24  27.29999  100.50000  158.600006    12
849  8442  Evit000  Cu175      24  25.70000   25.70000         NaN     1
850  8442  Evit000  Cu175      24  25.70000   28.70000    6.600000     2
851  8442  Evit000  Cu175      24  25.70000   33.39999   15.800003     3
852  8442  Evit000  Cu175      24  25.70000   40.00000   27.000000     4
853  8442  Evit000  Cu175      24  25.70000   46.69998   40.000000     5
854  8442  Evit000  Cu175      24  25.70000   56.59998   52.000000     6
855  8442  Evit000  Cu175      24  25.70000   65.19995   66.000000     7
856  8442  Evit000  Cu175      24  25.70000   73.19995   83.800003     8
857  8442  Evit000  Cu175      24  25.70000   81.69995   99.800003     9
858  8442  Evit000  Cu175      24  25.70000   90.29999  115.200001    10
859  8442  Evit000  Cu175      24  25.70000   96.00000  133.200001    11
860  8442  Evit000  Cu175      24  25.70000  103.50000  151.400002    12

[861 rows x 8 columns]

In [4]:
mdf.params

Intercept    15.723523
Time          6.942505
Group Var     3.553634
dtype: float64

In [5]:
mdf.resid.values.var()

10.42472964072216

In [27]:
md = smf.mixedlm("Weight ~ Time + Start", data, groups=data["Pig"], re_formula="~Start")
mdf = md.fit()
print(mdf.summary())

/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/regression/mixed_linear_model.py:2114: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  ConvergenceWarning)
/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/regression/mixed_linear_model.py:2114: ConvergenceWarning: Retrying MixedLM optimization with cg
  ConvergenceWarning)
/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/regression/mixed_linear_model.py:2118: ConvergenceWarning: MixedLM optimization failed, trying a different optimizer may help.
  warnings.warn(msg, ConvergenceWarning)
/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/regression/mixed_linear_model.py:2130: ConvergenceWarning: Gradient optimization failed, |grad| = 238.079207
  warnings.warn(msg, ConvergenceWarning)

             Mixed Linear Model Regression Results
================================================================
Model:                MixedLM   Dependent Variable:   Weight
No. Observations:     861       Method:               REML
No. Groups:           72        Scale:                11.2039
Min. group size:      11        Log-Likelihood:       -2368.8802
Max. group size:      12        Converged:            No
Mean group size:      12.0
----------------------------------------------------------------
                   Coef.  Std.Err.    z    P>|z|  [0.025  0.975]
----------------------------------------------------------------
Intercept         -23.265    3.722  -6.250 0.000 -30.560 -15.969
Time                6.942    0.033 209.448 0.000   6.877   7.007
Start               1.520    0.146  10.390 0.000   1.234   1.807
Group Var          11.168    8.008
Group x Start Cov  -0.426
Start Var           0.041
================================================================

/home/acsi/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1354: RuntimeWarning: invalid value encountered in sqrt
  bse_ = np.sqrt(np.diag(self.cov_params()))

mdf.params.Intercept

In [11]:
mdf.params

Intercept           15.738798
Time                 6.938980
Group Var            5.228043
Group x Time Cov     0.128877
Time Var             0.083465
dtype: float64

In [26]:
mdf.params["Intercept"]

15.112228762826573

In [15]:
mdf.resid.values.var()

5.095450294521458

In [11]:
from scipy.linalg.special_matrices import toeplitz
cov = toeplitz(0.5 ** np.arange(0, 4))

In [12]:
print(cov)

[[1.    0.5   0.25  0.125]
 [0.5   1.    0.5   0.25 ]
 [0.25  0.5   1.    0.5  ]
 [0.125 0.25  0.5   1.   ]]